.container-menu {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 100vh;
    background-color: #353333;

}

.logo-menu {
    width: 90%;
    height: 100px;
    display: flex;
    margin: 10px auto;
    border-radius: 16px;
    align-items: center;
    background-color: #121212;
}

.logo-menu img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

.logo-menu h1 {
    margin-left: 10px;
    display: flex;
    align-items: end;
    color: #FFFFFF;
    font-size: 40px;
}

.punto {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #FF0000;
}

.container-items_menu {
    position: relative;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    background-color: #767676;
    border-radius: 6px;
    cursor: pointer;
}

.item-list-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.item-menu {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 6px;
    text-align: center;
}

.item-menu img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.item-menu h2 {
    font-size: 18px;
    font-weight: bold;
    color: #414141;
    text-decoration: none;
}

.item-vender a {
    text-decoration: none;
    color: #414141;
    font-size: 18px;
    font-weight: bold;
    margin-right: 36%;
}

.arrow-item {
    color: #414141;
    margin-right: 10px;
}

.lista-option {
    width: 90%;
    background-color: #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-top: -3.5px;
}

.lista-option ul {
    width: 100%;
    list-style: none;
}

.lista-option ul li {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.lista-option ul li a:hover {
    background-color: #aaa9a9;
    color: #FFFFFF;
}

.lista-option ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #414141;
}

.user {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 90%;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767676;
}

.active {
    display: flex;
}

.desact {
    display: none;
}